[submodule "neovim/.config/nvim/plugged/suda.vim"]
	path = neovim/.config/nvim/plugged/suda.vim
	url = https://github.com/lambdalisue/suda.vim.git
[submodule "zsh/.config/zsh/zsh-git-prompt"]
	path = zsh/.config/zsh/zsh-git-prompt
	url = git@github.com:zsh-git-prompt/zsh-git-prompt.git
